// main.less
// The primary stylesheet of emergenesis.com
// -----------------------------------------


// Variables & Mixins
// ------------------
@import "variables.less";
@import "mixins.less";


// Bootstrap Includes
// ------------------
@import "bootstrap/reset.less";
@import "bootstrap/type.less";
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/dropdowns.less";


// Body reset
// ----------

body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
}


// Links
// -----

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}


// The Grid
// ---------

// Fixed (940px)
#grid > .core(@gridColumnWidth, @gridGutterWidth);

// Fluid (940px)
#grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);


//
// Layouts
// Fixed-width and fluid (with sidebar) layouts
// --------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-right: @gridGutterWidth;
  padding-left: @gridGutterWidth;
  .clearfix();
}


// Utility Classes
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}


// Theme
// -----

.header-bar {

    .header-bar-inner {
        width: 100%;
        height: 5px;
        margin-bottom: 40px;
        background: @fuscia;
    }
}


// Buttons
// -------
.btn, .btn-group > .dropdown-toggle {
    .box-shadow(none);
    border: none;
}

.btn-emergenesis, .btn-emergenesis:hover {
    color: @white;
}
.btn-emergenesis {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    .buttonBackground(@btnEmergenesisBackground, @btnEmergenesisBackgroundHighlight);

    .caret {
        border-top-color: @white;
        border-bottom-color: @white;
        .opacity(75);
    }
}

.btn-emergenesis.active {
    color: rgba(255,255,255,.75);
}

.btn-group.open {
    .btn-emergenesis.dropdown-toggle {
        background-color: @btnEmergenesisBackgroundHighlight;
    }
}


// Navigation
//------------
.nav-floater {
    position: absolute;
    top: 20px;
    left: 15px;
}

.nav-social {
    margin: 0;
    float: right;
    list-style: none;

    li {
        margin: 5px 0;

        a {
            font-size: 18px;
            line-height: 24px;

            i {
                vertical-align: middle;
            }
        }

        a:hover, a:active {
            text-decoration: none;
        }
    }
}


// Footer
//-------
.footer {
    margin-top: 40px;
    text-align: center;
    color: @gray;

    p {
        font-size: 14px;
    }

    .nav {
        display: inline-block;
        overflow: hidden;
        padding: 0;
        margin: 0 auto;
        list-style: none;

        li {
            float: left;

            a {
                display: block;
                padding: 0 10px;
                border-right: 1px solid @grayLight;
                color: @gray;
                text-decoration: underline;
            }

            a:hover, a:active {
                text-decoration: none;
            }
        }

        li:last-child {

            a {
                border: none;
            }
        }
    }
}


// Sections
// --------
section {
    margin-bottom: 40px;
}

section:last-child {
    margin-bottom: 0px;
}


// Typography
// ----------

h1, h2, h3, h4 {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid @grayLighter;
}

p {
    font-size: 18px;
    line-height: 28px;
}


// Emergenesis Includes
// --------------------

@import "sprites.less";
@import "responsive.less";


