@main("Who We Are | emergenesis.com") {

    <div class="container">

        <div class="row first">
            <div class="span9">
                <div class="body">
                    <h1>We Make Open-Source Awesomeness</h1>
                    <div class="divider"></div>

                    <p>
                        Donec sem lacus, volutpat vitae scelerisque vitae, accumsan
                        posuere sapien. Sed tristique tortor at ante aliquet
                        ornare. In consectetur, velit eu blandit facilisis, quam
                        nulla placerat ligula, a molestie mi tortor id mauris.
                        Mauris iaculis lacus quis mauris egestas eget vulputate
                        neque ultrices. Quisque laoreet vulputate urna et pulvinar.
                        Curabitur sit amet lorem a nisi accumsan lacinia non vitae
                        dui. Praesent arcu augue, placerat a ullamcorper vitae,
                        mollis eu ligula. 
                    </p>

                    <div class="figure">
                        <img src="http://placehold.it/620x300" />
                    </div>

                    <p>
                        Curabitur ornare pulvinar porta. Sed commodo scelerisque
                        odio. Suspendisse iaculis nibh non ligula placerat
                        tincidunt. Pellentesque scelerisque pretium libero iaculis
                        tempus. Donec fringilla posuere ante, at placerat augue
                        placerat nec. Vivamus egestas aliquam odio sed
                        pellentesque. Etiam in volutpat erat. Vestibulum
                        ullamcorper condimentum dolor eu vestibulum. Fusce
                        ultricies, eros sit amet porttitor faucibus, odio est
                        tempus dui, in malesuada dui metus aliquet tortor.
                    </p>
                </div>
            </div>
            <div class="span3">
                <section>
                    <ul class="nav nav-list nav-menu">
                        <li class="current"><a href="@routes.Application.about()">About Us</a></li>
                        <li><a href="@routes.Application.opensource()">Why Open Source</a></li>
                        <li><a href="@routes.Application.foundation()">Gestalt Foundation</a></li>
                    </ul>
                </section>

                <section class="section">
                    <h3>Our Projects</h3>
                    <div class="divider"></div>
                    <p>
                        Morbi venenatis turpis eros, quis consectetur nisl. Cras
                        ipsum nibh, hendrerit accumsan gravida a, dapibus et
                        est.
                    </p>
                    <p>
                        <a href="@routes.Projects.index()" class="btn btn-warning">Read more &raquo;</a>
                    </p>
                </section>

                <section class="section">
                    <h3>Get Involved</h3>
                    <div class="divider"></div>
                    <p>
                        Donec sem lacus, volutpat vitae scelerisque vitae,
                        accumsan posuere sapien. Sed tristique tortor at ante
                        aliquet ornare. In consectetur, velit eu blandit
                        facilisis, quam nulla placerat ligula, a molestie mi
                        tortor id mauris.
                    </p>
                    <p>
                        <a href="@routes.Application.contact()" class="btn btn-success">Get in Touch!</a>
                    </p>
                </section>
            </div>
        </div>
    </div>

}
