@main("Who We Are") {

<section>
    <h1>Who We Are</h1>
</section>

<section>
    <p>
        We are an small, high-energy startup dedicated to producing
        next-generation open-source software for consumers and small businesses
        that leverage the value proposition of the cloud.
    </p>

    <p>
        We solve problems by building forward-looking, pragmatic web
        applications that utilize cutting-edge and emerging technologies to
        ensure our solutions are durable, extensible, and powerful.
    </p>

    <p>
        Naturally, all of our projects are open-source, built on open standards
        with open data, aggressively supporting broader awareness, adoption, and
        advocacy of open licensing. For more information on our love of open
        licensing, see our blog post <a
            href="@routes.Blog.show("open-source-as-a-business-strategy")">Open
            Source as a Business Strategy</a>.
    </p>

</section>

@common.contact()
}
