@( posts: List[Post], page: Long, per_page: Long, count: Long )

@import helper._
@import tags._

@main( title = "Blog | emergenesis.com" ) {
    <section>
        <h1>Blog</h1>
        <div class="subtitle">The latest news from Emergenesis</div>
    </section>

    <section class="blog">
        @posts.map { post =>
            @entry(post, true)
        }

        @if(posts.size == 0) {
            <b>There are no posts.</b>
        }

        <div class="row-fluid pagination">
            @if(page * per_page < count) {
                <a class="older" href="/blog?page=@(page+1)">Older &raquo;</a>
            }
            @if( page > 1 ) {
                <a class="newer" href="/blog?page=@(page-1)">&laquo; Newer</a>
            }
        </div>
    </section>
}
