@main("Citeplasm | emergenesis.com") {

    <div class="container">
        <h1>
            Citeplasm
        </h1>
        <div class="divider"></div>

        <div class="row">
            <div class="span8">
                <img src="@routes.Assets.at("images/citeplasm_100x100.png")" alt="citeplasm" style="float: left; margin: 0 15px 15px 0;" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris turpis est, elementum et lacinia pretium, porttitor
                    euismod nisl. Aliquam erat volutpat. Proin et enim lectus,
                    convallis pretium risus. Suspendisse pretium tincidunt
                    nunc, et volutpat quam blandit quis. Suspendisse quis felis
                    quis enim iaculis egestas. Phasellus convallis vehicula
                    viverra. 
                </p>
                <p>
                    Suspendisse ut mi id velit volutpat rhoncus. Class
                    aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Sed vestibulum tempor
                    rutrum. Nulla id cursus purus. Etiam nunc libero, bibendum
                    eget gravida vitae, vestibulum a ligula. Morbi venenatis
                    turpis eros, quis consectetur nisl. Cras ipsum nibh,
                    hendrerit accumsan gravida a, dapibus et est. Vivamus
                    ultricies varius dui ut auctor. Aenean consequat, dui et
                    congue cursus, magna sapien laoreet ipsum, eget tristique
                    ante turpis sit amet mauris. Nullam vitae eros ac tortor
                    vehicula sagittis. 
                </p>

                <ul class="project thumbnails">
                    <li><a class="thumbnail" href="#"><img src="http://www.placehold.it/125x80" /></a></li>
                    <li><a class="thumbnail" href="#"><img src="http://www.placehold.it/125x80" /></a></li>
                    <li><a class="thumbnail" href="#"><img src="http://www.placehold.it/125x80" /></a></li>
                    <li><a class="thumbnail" href="#"><img src="http://www.placehold.it/125x80" /></a></li>
                </ul>

            </div>

            <div class="span4">
                <div class="well" style="padding: 8px 0;">
                    <h3 style="padding: 8px 15px;">Resources</h3>
                    <ul class="nav nav-list">
                        <li><a href="http://www.citeplasm.com">Website</a></li>

                        <li class="nav-header">Technical</li>
                        <li><a href="#">Technical Overview</a></li>
                        <li><a href="#">Phabricator</a></li>
                        
                        <li class="nav-header">Git Repositories</li>
                        <li><a href="#">Web Application</a></li>
                        <li><a href="#">Mobile Web Application</a></li>
                        <li><a href="#">Semantic Web Crawler</a></li>
                        <li><a href="#">Paper Generation Framework</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="roadmap">
            <h2>Roadmap</h2>
            <div class="divider"></div>

            <p>Last updated 25 June 2012.</p>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Milestone</th>
                        <th>Description</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Technical Architecture</td>
                        <td>A cohesive vision for all components of Citeplasm and how they will interact.</td>
                        <td>
                            <div class="progress test"><div class="bar"></div></div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Web Design</td>
                        <td>The design of the mobile and web interfaces to Citeplasm</td>
                        <td>
                            <div class="progress dev"><div class="bar"></div></div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Semantic Web Crawler</td>
                        <td>A crawling, search, and caching mechanism for linked open data sites.</td>
                        <td>
                            <div class="progress design"><div class="bar"></div></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

}
