@main("Emergenesis") {

<section>
    <h1><a href="@routes.Application.about()">Who We Are</a></h1>

    <p>
        We are a small, high-energy startup dedicated to producing innovative
        open-source web apps for consumers and small businesses that leverage
        the value proposition of the cloud.
        <a href="@routes.Application.about()">Read More &raquo;</a>
    </p>
</section>
    
<section>
    <h1><a href="@routes.Application.projects()">What We're Working On</a></h1>

    <div id="projectsCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item">
                <img alt="Citeplasm" src="http://placehold.it/732x500" />
                <div class="carousel-caption">
                    <h4>Citeplasm</h4>
                    <p>
                        Quisque quis arcu nec urna porttitor interdum. Etiam id
                        nulla arcu, quis facilisis mauris. Cras et mauris nec
                        diam vestibulum congue eget id elit. 
                        <a href="@routes.Application.projects()#citeplasm">Read More &raquo;</a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img alt="Linked Open Data" src="http://placehold.it/732x500" />
                <div class="carousel-caption">
                    <h4>Emergenesis Linked Open Data Initiative</h4>
                    <p>
                        Quisque quis arcu nec urna porttitor interdum. Etiam id
                        nulla arcu, quis facilisis mauris. Cras et mauris nec
                        diam vestibulum congue eget id elit. 
                        <a href="@routes.Application.projects()#elodi">Read More &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        
        <a class="carousel-control left" href="#projectsCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#projectsCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <script type="text/javascript">
        $("#projectsCarousel").carousel();
    </script>
</section>
    
<section>
    <h1><a href="@routes.Blog.index()">Notes From Our Blog</a></h1>

    <div class="blog-post">
        <h2><a href="@routes.Blog.show("dummy")">This is a Sample Blog Post</a></h2>
        <div class="byline">
            posted by <span class="author">Josh David Miller</span> on <span class="date">01 August 2012</span>
        </div>
        <div class="body">
            <p>
                 Aliquam vulputate, magna ac mollis convallis, nisi nisl cursus
                 turpis, in sagittis dui sapien eu dolor. Vestibulum vulputate
                 lacus ut est placerat in sagittis odio condimentum. Nullam
                 porta rhoncus mauris sit amet varius. Pellentesque lacinia
                 facilisis adipiscing. Phasellus sodales justo nec orci feugiat
                 sodales. Nam adipiscing ultrices lorem nec venenatis. In eget
                 venenatis magna. Suspendisse vitae eleifend odio. Vivamus odio
                 arcu, euismod a tristique non, dapibus nec lacus. In lacinia
                 lorem sit amet urna sodales ornare. Nunc elementum sem eu
                 magna ullamcorper congue. 
            </p>
        </div>
        <div class="readmore">
            <a href="#">Continue reading &raquo;</a>
        </div>
    </div>
</section>
    
<section>
    <h1><a href="@routes.Application.contact()">Get In Touch</a></h1>
    <div class="row">
        <div class="span9">
            <p>
                We are all about openness. All of our projects are open-source,
                built on open standards with open data. We develop in the open
                and kick ideas around in the open.
            </p>
            <p>
                Have an idea you want to toss about?  Need help with one of our
                projects? Want to track our progress? Join our inner circle or 
                <a href="#">send us an email</a>.
            </p>
        </div>
        <div class="span3">
            <ul class="nav nav-social">
                <li><a href="http://gplus.to/emergenesis"><i class="icon-social-gplus"></i> Google+</a></li>
                <li><a href="http://www.facebook.com/emergenesis"><i class="icon-social-facebook"></i> Facebook</a></li>
                <li><a href="http://www.twitter.com/emergenesis"><i class="icon-social-twitter"></i> Twitter</a></li>
                <li><a href="http://www.youtube.com/emergenesis"><i class="icon-social-youtube"></i> Youtube</a></li>
                <li><a href="http://www.flickr.com/photos/emergenesis"><i class="icon-social-flickr"></i> Flickr</a></li>
                <li><a href="http://www.github.com/emergenesis"><i class="icon-social-github"></i> Github</a></li>
                <li><a href="@routes.Blog.rss()"><i class="icon-social-rss"></i> RSS</a></li>
            </ul>
        </div>
    </div>
</section>
    
}
