@main(title = "Emergenesis | emergenesis.com") {
    <section>
        <div class="slider">
            <div class="sample-image"></div>
        </div>
    </section>

    <section class="social-big">
        <div class="divider"></div>
        <ul class="nav">
            <li><a href="http://gplus.to/emergenesis"><i class="large icon-social-google"></i></a></li>
            <li><a href="http://www.twitter.com/emergenesis"><i class="large icon-social-twitter"></i></a></li>
            <li><a href="http://www.facebook.com/emergenesis"><i class="large icon-social-facebook"></i></a></li>
            <li><a href="http://www.youtube.com/emergenesis"><i class="large icon-social-youtube"></i></a></li>
            <li><a href="http://www.flickr.com/photos/emergenesis/"><i class="large icon-social-flickr"></i></a></li>
            <li><a href="http://www.github.com/emergenesis"><i class="large icon-social-github"></i></a></li>
            <li><a href="#"><i class="large icon-social-rss"></i></a></li>
            <li><a href="#"><i class="large icon-social-gmail"></i></a></li>
        </ul>
        <div class="divider"></div>
    </section>

    <section class="about-summaries">
        <h2>Who We Are</h2>
        <div class="subtitle">Freeing the cloud</div>
        <div class="row-fluid">
            <div class="span6">
                <img src="http://placehold.it/290x200" />
            </div>
            <div class="span6">
                <h3>What We Do</h3>
                <p>
                Donec ultrices velit quis justo tempus ut gravida
                quam euismod. Donec ullamcorper quam in metus
                fermentum placerat. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia
                Curae; Nullam porta nibh vel dolor venenatis
                rutrum. Aenean ipsum neque, auctor non convallis
                et, tincidunt vitae enim. Mauris non tempus quam.
                Praesent et nibh non augue egestas tempus vitae eu
                neque.
                </p>
                <p>
                <a href="/about">Read more &raquo;</a>
                </p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <h3>Why Open Licensing</h3>
                <p>
                Praesent a nulla justo, quis mollis magna. Nulla
                viverra, lorem et pellentesque venenatis, ligula
                odio ullamcorper metus, vel commodo nunc lectus in
                mauris. Aenean volutpat sem sed urna bibendum quis
                adipiscing eros molestie. Donec a urna sit amet
                tellus accumsan ultricies.
                </p>
                <p>
                <a href="/about">Read more &raquo;</a>
                </p>
            </div>
            <div class="span6">
                <img src="http://placehold.it/290x200" />
            </div>
        </div>
    </section>

    <section class="project-summaries">
        <h2>Our Projects</h2>
        <div class="subtitle">What We've Been Working on Lately</div>
        <div class="subdivider"></div>
        <div class="row-fluid">
            <div class="span4">
                <div class="image citeplasm"></div>
            </div>
            <div class="span8">
                <h3>Citeplasm</h3>
                <p>
                Suspendisse potenti. Morbi at metus at turpis euismod semper eu ac nibh.
                Pellentesque felis nibh, vulputate ac imperdiet sollicitudin, euismod sit amet
                tortor. Nullam lobortis malesuada turpis in blandit.                            
                </p>
                <p class="readmore"><a href="#">Find out more &raquo;</a></p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div class="image bigpicturesupport"></div>
            </div>
            <div class="span8">
                <h3>Big Picture Support</h3>
                <p>
                Nam mollis diam sit amet mi scelerisque lobortis
                vitae quis odio. Morbi dictum purus vel sapien
                vehicula sagittis ultricies diam vehicula.
                Suspendisse et nulla quis risus elementum suscipit.
                </p>
                <p class="readmore"><a href="#">Find out more &raquo;</a></p>
            </div>
        </div>
    </section>
    <section>
        <h2>Latest News</h2>
        <div class="subtitle">Recent Entries on Our Blog</div>
        <div class="row-fluid">
            <div class="span4">
                <img src="http://placehold.it/190x90" />
                <h3>Blog post title</h3>
                <p>
                Aliquam porttitor tellus eu magna tincidunt ut ultricies turpis
                rutrum. Quisque convallis dignissim nisi, vitae tincidunt urna
                lobortis at. Phasellus nec sem eget arcu accumsan suscipit quis a
                arcu. Etiam ac sem vel nisl pharetra adipiscing ut at eros.
                </p>
                <p>
                <a href="#">Read more &raquo;</a>
                </p>
            </div>
            <div class="span4">
                <img src="http://placehold.it/190x90" />
                <h3>Blog post title</h3>
                <p>
                Aliquam porttitor tellus eu magna tincidunt ut ultricies turpis
                rutrum. Quisque convallis dignissim nisi, vitae tincidunt urna
                lobortis at. Phasellus nec sem eget arcu accumsan suscipit quis a
                arcu. Etiam ac sem vel nisl pharetra adipiscing ut at eros.
                </p>
                <p>
                <a href="#">Read more &raquo;</a>
                </p>
            </div>
            <div class="span4">
                <img src="http://placehold.it/190x90" />
                <h3>Blog post title</h3>
                <p>
                Aliquam porttitor tellus eu magna tincidunt ut ultricies turpis
                rutrum. Quisque convallis dignissim nisi, vitae tincidunt urna
                lobortis at. Phasellus nec sem eget arcu accumsan suscipit quis a
                arcu. Etiam ac sem vel nisl pharetra adipiscing ut at eros.
                </p>
                <p>
                <a href="#">Read more &raquo;</a>
                </p>
            </div>
        </div>
    </section>
}
