@(message: String)

@main("Emergenesis | emergenesis.com") {

    <div class="headline">
        <div class="container">
            <h1>Free the cloud</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus placerat tempor ligula quis sodales. Suspendisse
                commodo sollicitudin nisi, eu dapibus nisl dapibus eget. Donec
                blandit tempus lorem, id consectetur quam posuere quis. Ut
                gravida enim sed arcu luctus id rutrum dui fringilla.
            </p>
        </div>
    </div>
    <div class="headline-arrow"></div>

    <div class="container home-highlights">
        <div class="row">
            <div class="span6">
                <div class="content about">
                    <h3>Who we Are</h3>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus placerat tempor ligula quis sodales. Suspendisse
                        commodo sollicitudin nisi, eu dapibus nisl dapibus eget.
                        Donec blandit tempus lorem, id consectetur quam posuere
                        quis. Ut gravida enim sed arcu luctus id rutrum dui
                        fringilla. Morbi eget ante at metus condimentum adipiscing
                        eu ut nunc. Nunc ante arcu, auctor vel semper vitae,
                        iaculis ut risus.
                    </p>

                    <div class="readmore">
                        <a href="#" class="btn btn-warning">Read more &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="content whatwedo">
                    <h3>What we Do</h3>

                    <p>
                        Donec varius cursus lectus, facilisis blandit arcu rhoncus
                        ut. Sed sed ligula sit amet purus volutpat iaculis. Integer
                        tempor est hendrerit purus venenatis id tristique lacus
                        luctus. Nulla vitae urna ultrices leo gravida tristique sit
                        amet quis est. Suspendisse pellentesque ipsum quis lorem
                        molestie eu egestas nulla vulputate. Duis et purus non enim
                        posuere semper.
                    </p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                <div class="divider"></div>
            </div>
            <div class="span6">
                <div class="divider"></div>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                <div class="content semantic">
                    <h3>Semantic Web</h3>

                    <p>
                        Quisque pulvinar arcu vel lectus condimentum et pharetra
                        sem tincidunt. Phasellus lorem mi, consectetur a aliquet
                        nec, aliquet vitae odio. Vivamus at bibendum dolor. Quisque
                        sit amet turpis velit. Sed vitae velit nunc, ac mattis
                        eros. Integer in ullamcorper odio. Nam imperdiet, libero a
                        molestie egestas, urna augue condimentum mi, at sagittis
                        arcu sapien a quam. Praesent fermentum aliquet risus non
                        cursus
                    </p>

                    <div class="readmore">
                        <a href="#" class="btn btn-warning">Read more &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="content citeplasm">
                    <h3>Citeplasm</h3>
                    
                    <p>
                        Phasellus at aliquet lectus. Suspendisse pulvinar, mauris
                        ut eleifend porta, lacus nunc gravida magna, nec hendrerit
                        erat nisi sit amet metus. Phasellus dictum, orci sit amet
                        cursus ultricies, ipsum erat gravida sem, eu vulputate
                        turpis libero nec elit. Phasellus nulla erat, laoreet quis
                        auctor id, pellentesque et lacus. Curabitur sagittis est
                        vitae felis condimentum a tincidunt turpis congue. 
                    </p>

                    <div class="readmore">
                        <a href="#" class="btn btn-warning">Read more &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
