@(form: Form[Option[Account]])(implicit flash: Flash)

@main("Login") {

    <h2>Sign in</h2>

    @helper.form(action = routes.Application.authenticate, 'class -> "form-horizontal") {

    @form.globalError.map { error =>
      <div class="alert alert-error">
        @error.message
      </div>
    }

    @flash.get("success").map { message =>
      <div class="alert alert-success">
        @message
      </div>
    }

    <fieldset>
        <div class="control-group">
            <label for="email" class="control-label">Email Address</label>
            <div class="controls">
                <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
                <input type="password" name="pass" id="pass" placeholder="Password">
            </div>
        </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sign in</button>
            <button type="reset" class="btn btn-inverse">Cancel</button>
          </div>
    </fieldset>

    }
}
