@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title | emergenesis.com</title>
        <link href='http://fonts.googleapis.com/css?family=Numans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/mobile/jquery.mobile.custom.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-transition.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-dropdown.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/carousel.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-collapse.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="header-bar">
            <div class="header-bar-inner"></div>
        </div>
        
        <div class="container">
            <div class="brand">
                <a href="@routes.Application.index">
                    <img src="@routes.Assets.at("images/emergenesis_logo.png")" alt="emergenesis" />
                </a>
            </div>
        </div>

        <div class="nav-floater">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-emergenesis" data-toggle="dropdown">
                    Navigation
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@routes.Application.index()">Home</a></li>
                    <li><a href="@routes.Application.projects()">What We're Doing</a></li>
                    <li><a href="@routes.Blog.index(1)">Our Blog</a></li>
                    <li><a href="@routes.Application.about">Who We Are</a></li>
                    <li><a href="@routes.Application.contact">Get in Touch</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.github.com/emergenesis">Github</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            @content
        </div>

        <div class="container">
            <footer class="footer">
                <ul class="nav">
                    <li><a href="@routes.Application.index()">Home</a></li>
                    <li><a href="@routes.Application.projects()">Projects</a></li>
                    <li><a href="@routes.Blog.index(1)">Blog</a></li>
                    <li><a href="@routes.Application.about()">About</a></li>
                    <li><a href="@routes.Application.contact()">Contact</a></li>
                </ul>
                <p>&copy; 2012 Emergenesis</p>
            </footer>
        </div>

        <script type="text/javascript">
            $('.dropdown-toggle').dropdown()
        </script>
    </body>
</html>
