@main("What We Do") {

<section>
    <h1>What We Do</h1>
</section>

<section id="citeplasm">
    <h2>
        <img src="@routes.Assets.at("images/citeplasm_logo.png")" alt="Citeplasm" />
    </h2>

    <p>
        Citeplasm aims to be a best-in-class research and collaboration tool for 
        academic professionals and students.
    </p>

    <div id="citeplasmChart"></div>
    <style>
        path.link {
          fill: none;
          stroke: #7D9C9F;
          stroke-width: 3px;
        }

        circle {
          fill: #AD235E;
        }

        text {
          font: 10px sans-serif;
          pointer-events: none;
        }

        text.shadow {
          stroke: #fff;
          stroke-width: 3px;
          stroke-opacity: .8;
        }
    </style>

    <script src="@routes.Assets.at("/javascripts/citeplasm_nodes_demo.js")">
    </script>

    <p>
        The core feature of Citeplasm is its knowledge graph, a small sample of
        which is depicted in the simplified, force-directed plot above. The
        graph is interactive; you can hover your mouse over the nodes to see
        topics and vertices to see the relationships between them.

    <p>
        Citeplasm leverages our <a href="#elodi">Linked Open Data
        Initiative</a> as well as the open data projects of governmental and
        academic organizations across the globe to provide fully-integrated
        access to mountains of articles and a sea of data - all organized, all
        in one place, all reliable.
    </p>

    <p>
        With a suite of tools to assist in the conception, drafting, and 
        management of academic and professional papers, Citeplasm provides
        everything one needs to...
    </p>

    <p>
        Citeplasm is an extensible platform. With this simple base, it contains
        everything it needs to cater to the unique needs of college students,
        academic professionals, and researchers.
    </p>

    <h3>
        <span class="inline-header">Students</span>
    </h3>
    <p>
        It will provide a thoroughly modern and exciting one-stop solution for
        each stage of the research process: discovery of existing knowledge,
        development or original ideas, documentation of those ideas, and
        finally distribution of a completed work, which itself becomes part of
        the existing knowledge base. Each step build on all the others, exposing
        rich relationships into which existing tools provide no visibility.
    </p>

    <p>
    <h3>
        <span class="inline-header">Academic Professionals</span>
    </h3>
    <p>
        Citation management...
    </p>

    <p>
    <h3>
        <span class="inline-header">Researchers and Scientists</span>
    </h3>
    <p>
        In addition to providing a graph index to human-readable open documents,
        Citeplasm also provides semantically-linked open data sets for use in
        academic research. These data sets are integrated using...
    </p>
    <p>
        This makes Citeplasm useful for ... from genomics and chemistry to
        geography and climate to policy and economics.
    </p>
    <p>
        So far, the data is only half useful. So in addition to extensible
        querying, Citeplasm provides an array of interactive, web-based data
        visualization tools...
    </p>

</section>

<section id="elodi">
    <h2>
        <img src="@routes.Assets.at("images/elodi_logo.png")" alt="Emergenesis Linked Open Data Initiative" />
    </h2>

    <p>
        Though the Internet is largely a web of documents, the next paradigm is
        a browseable, semantically-linked web of data. Learn how Emergenesis is
        linking millions of documents into the Semantic Web.
    </p>

    <p>
        In essence, we take human-readable open data provided by governmental
        and academic organizations from around the globe and process them into a
        machine-readable, integrated format. Semantic processing...
    </p>

</section>

}
