@main("What We Do") {

<section>
    <h1>What We Do</h1>
</section>

<section>
    <h2>Our Method</h2>
    <p>
        Quisque quis arcu nec urna porttitor interdum. Etiam id nulla arcu,
        quis facilisis mauris. Cras et mauris nec diam vestibulum congue eget
        id elit. Vestibulum vestibulum quam ut sapien laoreet sit amet
        convallis elit vulputate. Nulla egestas nibh at libero pretium
        dignissim. 
    </p>
</section>

<section>
    <h2>
        <img src="@routes.Assets.at("images/citeplasm_logo.png")" alt="Citeplasm" />
    </h2>

    <p>
        Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia Curae; Morbi ac venenatis arcu. Morbi
        venenatis ante nec ipsum imperdiet convallis. Nulla nec turpis vitae
        erat sagittis pellentesque. Cras commodo pharetra semper. Donec dui
        nisl, sollicitudin quis vehicula iaculis, interdum quis nisl. 
    </p>

    <p>
        <img alt="Citeplasm" src="http://placehold.it/732x500" />
    </p>
        
    <p>
        Maecenas semper, elit ut sollicitudin vulputate, magna magna egestas
        risus, a bibendum felis libero quis lectus. Nunc non nulla turpis,
        vitae tempus enim.
    </p>
</section>

<section>
    <h2>
        <img src="@routes.Assets.at("images/elodi_logo.png")" alt="Emergenesis Linked Open Data Initiative" />
    </h2>

    <p>
        Integer quis magna quam. Nullam placerat, metus eget ullamcorper rutrum, nulla
        nisl dignissim nisl, venenatis eleifend nisl turpis vel justo. Morbi libero
        nisl, sollicitudin id vehicula quis, porta a dui. Proin et quam diam, id
        sagittis arcu. Praesent et justo sem, id vulputate lectus. In eu volutpat
        metus. Sed ultrices malesuada posuere. 
    </p>

    <p>
        <img alt="Linked Open Data" src="http://placehold.it/732x500" />
    </p>
        
    <p>
        In hac habitasse platea dictumst. Sed imperdiet augue eget nibh
        volutpat lobortis. Praesent rutrum porttitor eros, id mattis nisl
        facilisis id. Quisque vehicula pulvinar massa, eu semper sem sodales
        ornare.
    </p>

</section>

}
