@main("Projects | emergenesis.com") {

    <div class="container projects-list">
        <h1>What We're Working On</h1>
        <div class="divider"></div>

        <div class="row">
            <div class="span8">
        
                <div class="body">
                    <section>
                        <h2>What we Do</h2>
                        <div class="divider"></div>
                        
                        <img src="@routes.Assets.at("images/aaa_200x175.png")" style="float: right; margin: 0 0 15px 15px;" />

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                            turpis est, elementum et lacinia pretium, porttitor euismod
                            nisl. Aliquam erat volutpat. Proin et enim lectus, convallis
                            pretium risus. Suspendisse pretium tincidunt nunc, et volutpat
                            quam blandit quis. Suspendisse quis felis quis enim iaculis
                            egestas. Phasellus convallis vehicula viverra. Suspendisse ut
                            mi id velit volutpat rhoncus. Class aptent taciti sociosqu ad
                            litora torquent per conubia nostra, per inceptos himenaeos. Sed
                            vestibulum tempor rutrum. Nulla id cursus purus. Etiam nunc
                            libero, bibendum eget gravida vitae, vestibulum a ligula. Morbi
                            venenatis turpis eros, quis consectetur nisl. Cras ipsum nibh,
                            hendrerit accumsan gravida a, dapibus et est. Vivamus ultricies
                            varius dui ut auctor. Aenean consequat, dui et congue cursus,
                            magna sapien laoreet ipsum, eget tristique ante turpis sit amet
                            mauris. Nullam vitae eros ac tortor vehicula sagittis.
                        </p>

                        <p>
                            Donec sem lacus, volutpat vitae scelerisque vitae, accumsan
                            posuere sapien. Sed tristique tortor at ante aliquet ornare. In
                            consectetur, velit eu blandit facilisis, quam nulla placerat
                            ligula, a molestie mi tortor id mauris. Mauris iaculis lacus
                            quis mauris egestas eget vulputate neque ultrices. Quisque
                            laoreet vulputate urna et pulvinar. Curabitur sit amet lorem a
                            nisi accumsan lacinia non vitae dui. Praesent arcu augue,
                            placerat a ullamcorper vitae, mollis eu ligula.
                        </p>
                    </section>

                    <section>
                        <h2>Why Open Source</h2>
                        <div class="divider"></div>

                        <a href="http://www.opensource.org">
                            <img src="@routes.Assets.at("images/200px-Opensource.svg.png")" style="float: left; margin: 0 15px 15px 0;" />
                        </a>
                        <p>
                            Morbi quis justo pellentesque dolor dignissim laoreet eu sit
                            amet lectus. Sed semper fermentum cursus. Quisque eget sapien
                            nisi. Aenean id nisl velit. Curabitur sollicitudin lobortis
                            auctor. Pellentesque ornare lacus id nulla scelerisque mattis.
                            Morbi vel nisl ac turpis dictum aliquet. Sed volutpat tempus
                            malesuada. Pellentesque eget nunc interdum mi sagittis
                            facilisis. Morbi consequat, tellus at suscipit hendrerit, orci
                            justo accumsan arcu, eget cursus purus ante ac mi. Cras at
                            tortor mauris. Vestibulum ante ipsum primis in faucibus orci
                            luctus et ultrices posuere cubilia Curae; Etiam in lacinia
                            nibh. Nullam euismod molestie nunc vitae sodales. Class aptent
                            taciti sociosqu ad litora torquent per conubia nostra, per
                            inceptos himenaeos. Aenean vestibulum, mauris eu hendrerit
                            faucibus, lectus neque sagittis justo, vitae molestie massa
                            nunc in felis. 
                        </p>
                    </section>
                </div>
            </div>
            <div class="span4">
                <div class="content semantic">
                    <h3><a href="@routes.Projects.semanticweb">Semantic Web</a></h3>

                    <p>
                        Quisque pulvinar arcu vel lectus condimentum et pharetra
                        sem tincidunt. Phasellus lorem mi, consectetur a aliquet
                        nec, aliquet vitae odio. Vivamus at bibendum dolor. Quisque
                        sit amet turpis velit. Sed vitae velit nunc, ac mattis
                        eros. Integer in ullamcorper odio. Nam imperdiet, libero a
                        molestie egestas, urna augue condimentum mi, at sagittis
                        arcu sapien a quam. Praesent fermentum aliquet risus non
                        cursus
                    </p>
                </div>
                <div class="content citeplasm">
                    <h3><a href="@routes.Projects.citeplasm">Citeplasm</a></h3>
                    
                    <p>
                        Phasellus at aliquet lectus. Suspendisse pulvinar, mauris
                        ut eleifend porta, lacus nunc gravida magna, nec hendrerit
                        erat nisi sit amet metus. Phasellus dictum, orci sit amet
                        cursus ultricies, ipsum erat gravida sem, eu vulputate
                        turpis libero nec elit. Phasellus nulla erat, laoreet quis
                        auctor id, pellentesque et lacus. Curabitur sagittis est
                        vitae felis condimentum a tincidunt turpis congue. 
                    </p>
                </div>
                <div class="content bps">
                    <h3><a href="@routes.Projects.bps">Big Picture Support</a></h3>

                    <p>
                        Suspendisse congue metus vitae sapien porta malesuada.
                        Morbi bibendum odio a augue blandit vulputate.
                        Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Aliquam ut tempor
                        purus. Etiam quis magna libero. Phasellus lacinia
                        fringilla nisi, et feugiat ante suscipit in.
                    </p>
                </div>
            </div>
        </div>
    </div>

}
