@main(title = "Emergenesis | emergenesis.com") {
    <header class="page-header">
        <h1>
            The Semantic Web
            <small>Expanding the Linked Open Data Web</small>
        </h1>
    </header>
    <section>
    </section>

    <section>
        <div class="well" style="float: left; padding: 19px 0; margin-right: 15px; margin-bottom: 5px; width: 200px;">
            <ul class="nav nav-list">
                <li><a href="http://lod.emergenesis.com">Website</a></li>
                
                <li class="nav-header"><i class="iconic-cog"></i>Technical Pages</li>
                <li><a href="/blog/lod-technical-overview">Overview</a></li>
                <li><a href="http://phabricator.emergenesis.com/project/view/7/">Phabricator</a></li>

                <li class="nav-header"><i class="iconic-fork"></i>Code Repositories</li>
                <li><a href="http://www.github.com/emergenesis/lod.emergenesis.com">LOD Browser</a></li>
            </ul>
        </div>
        
        <p>
            Vestibulum ac magna diam. Proin quis dolor vel ligula adipiscing
            rhoncus ut et libero. Sed rhoncus posuere diam, at malesuada mi mattis
            at. In volutpat lacus sit amet nisi bibendum sed hendrerit magna
            lacinia. Nulla dolor orci, bibendum vitae tempus a, blandit vitae
            risus. Aenean laoreet tellus quis quam vulputate in fermentum nulla
            lacinia. 
        </p>

        <p>
            Nullam massa ante, adipiscing sed laoreet at, sagittis eget
            sem. Duis ac massa vitae lorem vulputate condimentum vel nec lectus.
            Vivamus dictum sollicitudin ante sed pharetra. Proin ornare felis sed
            augue condimentum at auctor nunc tincidunt. Vivamus in magna vitae
            augue ullamcorper tristique. Donec cursus posuere fringilla. Maecenas
            tempus auctor metus, eget iaculis arcu sodales id. Mauris tristique
            metus nec enim suscipit aliquet. Sed et quam id tellus pellentesque
            pellentesque ut quis diam.
        </p>

        <p>
            Maecenas at sem enim, vel semper diam. Maecenas volutpat libero et
            nibh iaculis in lacinia ante auctor. Vestibulum blandit, lorem
            vitae adipiscing ullamcorper, elit odio pulvinar felis, eu
            condimentum dolor sem non lorem. Curabitur vitae orci a nisl tempus
            rhoncus. Phasellus laoreet laoreet massa, at mattis enim blandit
            ac. Praesent eget leo magna. In hac habitasse platea dictumst.
            Maecenas nec est ac risus sodales posuere quis non turpis. Ut sit
            amet erat erat. Proin non dictum velit. Phasellus id facilisis
            orci. Aenean volutpat odio eget tortor feugiat porta. 
        </p>
    </section>

    <section class="project-screenshots">
        <h2>Screenshots</h2>
        <ul class="thumbnails">
            <li><a href="#" class="thumbnail"><img src="http://placehold.it/350x348" alt=""></a></li>
            <li><a href="#" class="thumbnail"><img src="http://placehold.it/160x160" alt=""></a></li>
            <li><a href="#" class="thumbnail"><img src="http://placehold.it/160x160" alt=""></a></li>
            <li><a href="#" class="thumbnail"><img src="http://placehold.it/160x160" alt=""></a></li>
            <li><a href="#" class="thumbnail"><img src="http://placehold.it/160x160" alt=""></a></li>
            <li><a href="#" class="thumbnail"><img src="http://placehold.it/160x160" alt=""></a></li>
        </ul>
    </section>

    <section>
        <h2>Roadmap</h2>
    </section>
    
}
