<section>
    <h1><a href="@routes.Application.contact()">Get In Touch</a></h1>
    <div class="row">
        <div class="span9">
            <p>
                We are all about openness. All of our projects are open-source,
                built on open standards with open data. We develop in the open
                and kick ideas around in the open.
            </p>
            <p>
                Have an idea you want to toss about?  Need help with one of our
                projects? Want to track our progress? Join our inner circle or 
                <a href="#">send us an email</a>.
            </p>
        </div>
        <div class="span3">
            <ul class="nav nav-social">
                <li><a href="http://gplus.to/emergenesis"><i class="icon-social-gplus"></i> Google+</a></li>
                <li><a href="http://www.facebook.com/emergenesis"><i class="icon-social-facebook"></i> Facebook</a></li>
                <li><a href="http://www.twitter.com/emergenesis"><i class="icon-social-twitter"></i> Twitter</a></li>
                <li><a href="http://www.youtube.com/emergenesis"><i class="icon-social-youtube"></i> Youtube</a></li>
                <li><a href="http://www.flickr.com/photos/emergenesis"><i class="icon-social-flickr"></i> Flickr</a></li>
                <li><a href="http://www.github.com/emergenesis"><i class="icon-social-github"></i> Github</a></li>
                <li><a href="@routes.Blog.rss()"><i class="icon-social-rss"></i> RSS</a></li>
            </ul>
        </div>
    </div>
</section>
